<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Pokedex App</h1>
      <p class="lead text-muted">Una aplicacion hecha por amantes de pokemones para
        amantes de pokemones</p>
    </div>
  </div>
</section>

<div class="album py-5 ">
  <div class="container">

    <div class="row ">

      {{#if hasPokemons}}

        {{#each pokemons as |poke|}}

          <div class="card col-md-3 bg-dark">
            <div class="card-body">
              <h5 class="card-title">{{poke.name}}</h5>
              <p class="card-text">{{poke.Region.dataValues.name}}</p>
               <p class="card-text">{{poke.Tipo.dataValues.name}}</p>
               <h6 class="card-subtitle mb-2 text-muted">{{poke.description}}</h6>

            </div>
          </div>

        {{/each}}

      {{else}}

        <h1>no hay pokemones creados</h1>

      {{/if}}

    </div>
  </div>
</div>