{{!-- <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Mantenimineto de Pokemones</h1>
      <p>
        <a href="/create-pokemon" class="btn btn-primary my-2">Crear nuevo pokemon</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 ">
  <div class="container">

    <div class="row ">

      {{#if hasPokemons}}

      {{#each pokemons as |poke|}}

      <div class="card col-md-3 bg-dark">
        <div class="card-body">
          <h5 class="card-title">{{poke.name}}</h5>
          <p class="card-text">{{poke.Region.dataValues.name}}</p>
          <p class="card-text">{{poke.Tipo.dataValues.name}}</p>
          <h6 class="card-subtitle mb-2 text-muted">{{poke.Description}}</h6>
          <a href="/edit-pokemon/{{poke.Id}}?edit=true" class="btn btn-warning">Editar</a>

          <form class="form-inline" action="/confirm-delete-pokemon" method="post">
            <input type="hidden" name="pokeId" value="{{poke.Id}}" />
            <button type="submit" class="btn btn-danger">Eliminar</button>

          </form>
        </div>
      </div>

      {{/each}}

      {{else}}

      <h1>no hay pokemones creados</h1>

      {{/if}}

    </div>
  </div>
</div> --}}

{{#if hasPokemons}}

<div class="container" align="center">
  <h2 class="mt-2 ml-5 d-inline-block align-bottom text-success">Mantenimiento de pokemons</h2>
</div>

<div class=" d-flex justify-content-center">
  <a href="/create-pokemon" class="btn btn-primary btn-lg btn-block mt-2">Crear pokemon</a>
</div>

<div class="cards-wrapper ">

  <div class="row row-cols-4">

    {{#each pokemons as |pk|}}
    <div class="card zoom" style="width: 18rem;background-color: #C7DBD2">
      <h4 class="card-title mt-2" align="center"> <strong>{{pk.Id}}</strong> {{pk.name}}</h4>
      <img class="card-img-top " src={{pk.imgUrl}} alt="Card image cap">
      <div class="card-body">
        <p class="card-text"> {{pk.description}}
          <br />
          <strong>Tipo: </strong> {{pk.Tipo.dataValues.name}}
          <br />
          <strong>Region: </strong> {{pk.Region.dataValues.name}}
          <hr />
        <div class="row row-cols-2 ">
          <a href="/edit-pokemon/{{pk.Id}}?edit=true" class="btn btn-success">
            <i class="fa-solid fa-edit"></i> Editar
          </a>

             <form class="form-inline"  action="/confirm-delete-pokemon" method="post">
            <input type="hidden" name="pokeId" value="{{pk.Id}}" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


{{else}}

<h1>no hay pokemones creados</h1>

{{/if}}