{{!-- <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Mantenimineto de Regiones</h1>
        <a href="/create-regions" class="btn btn-secondary my-2">Crear nueva region</a>
      </p>
    </div>
  </div>
</section> --}}

        {{!-- <div class="container" align="center">
<h2 class="mt-2 ml-5 d-inline-block align-bottom text-success" >Mantemiento de Regiones</h2>
 </div>
  <div class=" d-flex justify-content-center">
 <a href="/create-regions" class="btn btn-primary btn-lg btn-block mt-2">
    <i class="fa-solid fa-plus"></i> Crear Region</a>
    </div>

    

<div class="album py-5 ">
  <div class="container">

    <div class="row">

      {{#if hasRegions}}

        {{#each regions as |tip|}}

          <div class="card col-md-3 bg-dark">
            <div class="card-body">
              <h5 class="card-title">Nombre</h5>
              <p class="lead text-muted">{{tip.name}}</p>
              <h5 class="card-title">Descripcion</h5>
<p class="lead text-muted">{{tip.description}}</p>
              <a
                href="/edit-regions/{{tip.Id}}?edit=true"
                class="btn btn-warning"
              >Editar</a>

              <form class="form-inline" action="/confirm-delete-regions" method="post">
                <input type="hidden" name="regionId" value="{{tip.Id}}" />
                <button type="submit"  class="btn btn-danger">Eliminar</button>
              </form>
            </div>
          </div>

        {{/each}}
      {{else}}

        <h1>No hay regiones creadas</h1>

      {{/if}}

    </div>
  </div>
</div> --}}

  <div class="container" align="center">
<h2 class="mt-2 ml-5 d-inline-block align-bottom text-success" >Mantemiento de Regiones</h2>
 </div>
  <div class=" d-flex justify-content-center">
 <a href="/create-regions" class="btn btn-primary btn-lg btn-block mt-2">
    <i class="fa-solid fa-plus"></i> Crear Region</a>
    </div>

{{#if hasRegions}}
<table class="table">
  <thead class="th">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
       <th scope="col">Editar</th>
       <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>

       {{#each regions as |tip|}}
    <tr>
      <th scope="row">{{tip.Id}}</th>
      <td>{{tip.name}}</td>
      <td>{{tip.description}}</td>
      <td colspan="2">

      <div class="row row-cols-2 ">
     <a  class="btn btn-success "href="/edit-regions/{{tip.Id}}?edit=true"> 
         <i class="fa-solid fa-edit"></i>Editar</a>
     <form class="form-inline" action="/confirm-delete-regions" method="post">
                <input type="hidden" name="regionId" value="{{tip.Id}}" />
                <button type="submit"  class="btn btn-danger">Eliminar</button>
              </form>
      </div>
      </td>
       
    </tr>
    
    {{/each}}

  </tbody>
</table>
{{else}}

<h3 class="text-center mt-4">No hay regiones creadas</h3>
      {{/if}}